.header-text {
  margin: 0px;
  padding: 7px;
  height: 2em;
  font-family: inherit;
  cursor: pointer;
  font-size: 17px;

}

/* Mobile */
@media (max-width: 576px) {
  .header-text {
    font-size: 14px;
    padding: 5px;
    height: 1em;
  }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 768px) {
  .header-text {
    font-size: 15px;
  }
}

/* Laptop */
@media (min-width: 769px) and (max-width: 992px) {
  .header-text {
    font-size: 16px;
    padding: 10px;
    height: 1.5em;
  }
}